<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>loading...</title>
    <style>
      body{
        background-color:black;
      }
      #fs{
    	position:absolute;
    	top:50%;
    	left:50%;
    	}
    	#sn{
    	position:absolute;
    	top:30%;
    	left:49%;
    	}      
    </style>
  </head>
  <body>
        <img src="/25.gif" style="width:50px;height: 50px;" id="fs">
        <img id="sn" src="/lgos.png" style="width:80px;height:80px;">
    <script>
      setTimeout(function(){
        window.location.href = "/dashbord";
      },2000)
    </script>
  </body>
</html>
